<footer class="pt-11 pb-17 bg-Framework-base-100 border-t border-t-solid border-t-Framework-base-300 overflow-hidden">
  <div class="container">
    <div class="flex flex-col md:flex-row md:items-start justify-between gap-6">

      <div class="flex items-center justify-between">
        <div class="text-Local-text-minor size-4.5 font-normal max-w-[342px] w-full">
          © 2025 
          <a href="#" class="text-Framework-primary-focus">PDFstorm</a>
        </div>
        <div class="relative inline-block ml-auto md:hidden" data-lang data-position="down">
          {% include "./language-switcher.njk" %}
        </div>
      </div>
      

      <div class="flex flex-col sm:flex-row gap-2.5 sm:gap-6 text-sm w-full">

        <div class="flex flex-col gap-2.5 lg:gap-5 w-full max-w-[463px]">
          <a href="#" class="footer__link">Конвертирование</a>
          <a href="#" class="footer__link">Редактирование</a>
          <a href="#" class="footer__link">Все инструменты</a>
        </div>

        <div class="flex flex-col gap-2.5 lg:gap-5 w-full max-w-[463px]">
          <a href="#" class="footer__link">Пользовательское соглашение</a>
          <a href="#" class="footer__link">Политика конфиденциальности</a>
          <a href="#" class="footer__link">Статьи</a>
        </div>
      </div>

      <div class="relative ml-auto hidden md:inline-block" data-lang data-position="down">
        {% include "./language-switcher.njk" %}
      </div>

    </div>
  </div>
</footer>
