<header class="bg-Framework-base-100 shadow-card py-3.75">
  <div class="container mx-auto flex items-center">

    <a href="#" class="flex items-center gap-2">
      <img src="/resources/images/logo.svg" alt="PDFStorm" class="max-w-[145px]">
    </a>

    <nav class="hidden lg:flex items-center gap-11.5 ml-25">
      <a href="#" class="transition header__nav-link">Word в PDF</a>
      <a href="#" class="transition header__nav-link">Разделить PDF</a>
      <a href="#" class="transition header__nav-link">Сжать PDF</a>
      <a href="#" class="transition header__nav-link">PDF в Word</a>
    </nav>

    <div class="relative inline-block ml-auto" data-lang data-position="down">
      {% include "./language-switcher.njk" %}
    </div>



  </div>
</header>